* {
    margin: 0;
}
<<<<<<< HEAD
=======

>>>>>>> c41c16c72b24dcefafb6a05e3df3e3ab06ad1a91
body{
    position: relative;
    min-height: 100vh;
}
<<<<<<< HEAD
.container .flex{
    grid-template-columns: 70px 1fr 40px;
=======

#container {
    display: grid;
    grid-template-columns: 70px 1fr 40px;

>>>>>>> c41c16c72b24dcefafb6a05e3df3e3ab06ad1a91
}

#footer {
    display: grid;
    grid-column-start: 1;
    grid-column-end: span 3;
    background: lightblue;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    border: 1px solid;
    padding: 1px 0;
    position: fixed;
    width: 100%;
    background-color: white;
}

.logo {
    font-size: 3rem;
    padding-left: 10px;
}

.navbar .flex {
    justify-content: space-between;
}

.nav-container {
    padding: 20px;
    margin: 10px;

    background-color: white;
}

.navbar a:hover {
    background: green;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 5px;
}

li {
    padding: 15px;
    cursor: pointer;
    color: black;
}
#sidebar{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 81px;
    left: 0;
    width: 270px;
    height: 90%;
    padding: 20px;
    background-color: lightgray;
    
}
.sidebar-title {
font-size: 2.2rem;

padding-bottom: 10px;
}
.sidebar-sub-title{
    padding: 15px 0 5px 0;
    border-bottom: 1px solid green;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: #fff ;
}

#sidebar li{
    padding: 3px 10px;
    font-size: 17px;
    list-style: none;

}
.scrollbox{
    overflow: auto;
}
<<<<<<< HEAD

.flex {
    display: flex; 
}
.grid{
    display:grid; 
}
.container .grid{
    background:green;
    width:100%;
    display:grid;
    grid-template-columns: repeat(20, 1fr);
   
}
=======
.scrollbox-inner li:hover{
    background-color: gray
}


#footer {
    display: grid;
    grid-column-start: 1;
    grid-column-end: span 3;
    background: lightblue;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }
>>>>>>> c41c16c72b24dcefafb6a05e3df3e3ab06ad1a91
